{var $robots = noindex}

{block #content}
<article class="article-main row user-info">
  <div class="col-12">
    <h2 n:inner-block="title">{$h2}</h2>
    {control passwordChangeForm}
  </div>
</article>