{* status 404 *}

{block content}

<h2 n:block="title">Nenájdená položka</h2>

<div class="alert alert-danger">
	<p>Ľutujeme, ale Vami požadovaná položka sa nenašla.</p>
	<p>Alebo neexzistuje, alebo nemáte dostatočné oprávnenie na prezeranie.</p>
</div>
<div>
  <p><a n:href="Udaje:" title="Späť"><i class="fas fa-undo"></i> Naspäť na výpis údajov</a></p>
</div>