body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.main {
  margin-top: 2.5rem;
  height: calc(100vh - 4rem);
  overflow: auto;
}
.navbar {
  font-size: 90%;
  padding: .3rem 1rem;
}
.navbar-toggler {
  padding: 0;
  font-size: 1rem;
}
.navbar-toggler-text {
  vertical-align: middle;
  padding-right: .25rem;
}
.navbar-collapse>div {
  margin-left: auto;
}
.footer {
  padding-top: .1rem;
  padding-bottom: .1rem;
  font-size: 80%;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('./images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

a[href^="error:"] {
	background: red;
	color: white;
}

.dl-horizontal .text-right {
  font-weight: bold;
}
.hlavna-plocha {
  background-color: #000;
}

.vrchny-panel {
  height: 9rem;
  border-bottom: 3px #007bff solid;
  background-color: #002752;
  margin-bottom: .5rem;
  padding-top: .2rem;
}

.zoznam {
  font-family: monospace;
  font-size: 14px;
  color: #fff;
  line-height: 1rem;
  padding: .25em 1em;
  overflow: auto;
  height: 8.5rem;
  columns: 20em; /* https://www.vzhurudolu.cz/prirucka/css-multicolumn */
  column-fill: auto;
  column-rule: dotted #999;
}
.zoznam ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.stred {
  text-align: center;
}

.dolny-panel {
  height: 8rem;
  border-top: 3px #062c33 solid;
  background-color: #121416;
  margin-top: .5rem;
  font-size: 12px;
}

.errors {
  height: max-content;
}
.status-bar {
  font-size: 12px;
  height: 1rem;
  padding: 0;
}
.status-bar > div {
  padding: .05rem .5rem;
}

nav.edit-second-nav {
  padding: 1rem;
}

.users-form {
  margin: 20% 50% auto 50%;
  transform: translate(-50%, -50%);
  width: 21rem;
  background-color: rgba(220,220,220,.5);
}
#app {
  background: white url('./images/DSC_1992.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.sign-in-form {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.sign-in-form a {
  color: #333;
  line-height: 2rem;
}
.sign-in-form .btn-link {
  color: #333;
}

/* Menu pre canvas - pravé tlačítko */
#right-click-menu{
  background: #FAFAFA;
  border: 2px solid #BDBDBD;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  min-width: 2rem;
  z-index: 999999;
}

#right-click-menu li {
  border-bottom: 1px solid #E0E0E0; 
  margin: 0;
  padding: .1rem .25rem;
  font-size: 75%;
}
#right-click-menu li:first-child {
  background-color: #333;
  color: #ccc;
  font-weight: bold;
}
#right-click-menu li:last-child {
  border-bottom: none;
}
#right-click-menu li:hover {
  background: #1E88E5;
  color: #FAFAFA;
}
#right-click-menu li a {
  text-decoration: none;
}