<div class="bg-primary col-xs-6 col-md-3">
  <h4>Komponenta kontaktný formulár</h4>
  <div>
    <a n:href="Delete!" title="Odober"><i class="fas fa-trash-alt"></i> Odober kontaktný formulár</a>
  </div>
</div>