#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
  komponenty:
    odkazNaClanky:
      nazov: 'Odkaz na článok'
      jedinecna: FALSE  # Ci je mozne pridat len raz k clanku
      fa_ikonka: 'link'
      parametre:
        id_hlavne_menu:
          nazov: 'Id článku'
        template:
          nazov: 'Názov vzhľadu'
          hodnoty:
            default: 'Základný'
            bez_avatara: 'Len odkaz bez avatara'
            to_foto_galery: 'Odkaz na fotogalériu'
            to_article: 'Odkaz na článok'
            foto_album: 'Odkaz pre fotogalériu'
#    fotogalery:
#      nazov: 'Fotogaléria k článku'
#      jedinecna: FALSE  # Ci je mozne pridat len raz k clanku
#      fa_ikonka: 'images'
#      parametre: 
#        template:
#          nazov: 'Názov vzhľadu'
    kontakt:
      nazov: 'Kontaktný formulár'
      fa_ikonka: 'comments'
      jedinecna: TRUE
      parametre: NULL
services:

# Component Clanky\OdkazNaClanky
  - PeterVojtech\Clanky\OdkazNaClanky\IOdkazNaClankyControl

# Component Clanky\Fotogalery
#  - PeterVojtech\Clanky\Fotogalery\IFotogaleryControl