{var $robots = noindex}
{block #content}
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h2 n:inner-block="title"><i class="fas fa-unlock-alt"></i> {_'forgot_pass'}</h2>
    <blockquote class="bg-warning"><p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {_'forgot_pass_txt'}</p></blockquote>
    {control forgottenPasswordForm}
  </div>
</div>