{var $robots = noindex}
{block content}
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h2 n:inner-block="title"><i class="fas fa-user-plus"></i> {_'RegistraciaForm_h2'}</h2>
    <div class="alert alert-warning" role="alert">
    	<i class="fas fa-exclamation-triangle"></i>
    	{_'base_form_required'|noescape}
    </div>
    {control clenRegistraciaForm}
  </div>
</div>