{var $robots = noindex}
{block #content}
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h2 n:inner-block="title"><i class="fas fa-key"></i> {_'ResetPasswordForm_h2'}</h2>
    <div class="alert alert-warning" role="alert">
      <p>{_'reset_pass_txt1'}<br /><strong>{$email}</strong></p>
      <hr>
      <p>{_'reset_pass_txt2'}</p>
    </div>
    {control resetPasswordForm}
  </div>
</div>