<div n:snippet="odkazNaClanky" class="odkaz-na-clanky a-ine">
  <h2><a href="{plink $link_presenter $id_hlavne_menu}" title="{$nazov}">{$nazov}</a></h2>
  {if $datum_platnosti != NULL}
    &nbsp;
    {if $datum_platnosti < strftime("%Y-%m-%d", time())}
      <strong>{$texty["neplatny"]}</strong> {$texty["platil_do"]}{$datum_platnosti|date:'%d.%m.%Y'}
    {else}
      {$texty["platny_do"]}{$datum_platnosti|date:'%d.%m.%Y'}
    {/if}
  {/if}
  <div n:if="isset($avatar) && is_file('www/files/menu/'.$avatar)" class="avatar-img">
    <a href="{$odkaz}" title="{$nazov}"><img src="{$basePath}/www/files/menu/{$avatar}" alt="Titulný obrázok"></a>
  </div>
  <p n:if="isset($anotacia)" class="text-clanku">{$anotacia}</p>
</div>