<div n:snippet="odkazNaClanky" class="odkaz-na-clanky">
  <a href="{plink $link_presenter $id_hlavne_menu}" title="{$nazov}">
    <span class="fa fa-arrow-right"> </span> {$nazov}
  </a>
  {if $datum_platnosti != NULL}
    &nbsp;
    {if $datum_platnosti < strftime("%Y-%m-%d", time())}
      <strong>{$texty["neplatny"]}</strong> {$texty["platil_do"]}{$datum_platnosti|date:'%d.%m.%Y'}
    {else}
      {$texty["platny_do"]}{$datum_platnosti|date:'%d.%m.%Y'}
    {/if}
  {/if}
  <p n:if="isset($anotacia)">{$anotacia}</p>
</div>