<div class="kategoria to-foto-galery">
  <p>{$texty->trText('to_foto_galery')}</p>
	<a href="{plink $link_presenter $id_hlavne_menu}" title="{$nazov}" n:if="isset($avatar) && is_file('www/files/menu/'.$avatar)">
		<img src="{$basePath}/www/files/menu/{$avatar}" alt="Titulný obrázok">
	</a>
	<h2><a href="{plink $link_presenter $id_hlavne_menu}" title="{$nazov}">{$nazov}</a></h2>
</div>