<div class="kategoria">
	<a href="{plink $link_presenter $id_hlavne_menu}" title="{$nazov}">
		<img n:if="isset($avatar) && is_file('www/files/menu/'.$avatar)" src="{$basePath}/www/files/menu/{$avatar}" alt="Titulný obrázok">
	</a>
	<h2><a href="{$odkaz}" title="{$nazov}">{$nazov}</a></h2>
</div>