{var $title_form = 'Zmena titulného obrázku/ikonky'}
{define #links}
  <button n:if="$admin_links['edit']" 
          type="button" 
          class="btn btn-default btn-sm edit-title-image " 
          data-toggle="modal" 
          data-target="#myModalTitleImageChange" 
          title="{$title_form}">
    <i class="fas fa-pen"></i>
  </button>
  <a n:if="$admin_links['del']" 
     href="{plink confirmForm:confirmDelete! id => $clanok->id_hlavne_menu, 'druh'=>'avatar', zdroj_na_zmazanie => 'titulný obrázok', nazov => ''}"
     title="Vymazanie titulného obrázku/ikonky" 
     class="btn btn-default del-title-image">
    <i class="fas fa-trash"></i>
  </a>
{/define}
<div class="page-header title-image">
  <div data-toggle="tooltip" data-placement="top">
  {if $clanok->hlavne_menu->ikonka}
    <i class="fas fa-{$clanok->hlavne_menu->ikonka} fa-4x"></i>
    {include #links}
  {elseif $clanok->hlavne_menu->avatar}
    <img src="{$basePath}/www/{$dir_to_menu}{$clanok->hlavne_menu->avatar}" alt="{$clanok->view_name}">
    {include #links}
  {else}
    {var $title_form = 'Pridanie titulného obrázku/ikonky'}
    <button n:if="$admin_links['edit']" type="button" class="add-title-image btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalTitleImageChange" title="{$title_form}">{$title_form}</button>
  {/if}
  </div>
  <h2><small>Názov zobrazený v nadpise:</small>{$clanok->view_name} <small>[id={$clanok->id_hlavne_menu}]</small>
    <button n:if="FALSE && $admin_links['edit']" type="button" class="edit " data-toggle="modal" data-target="#myModalTitleH2Change" title="Zmena nadpisu">E</button>
    <br />
    <small>Názov zobrazený v menu: {$clanok->menu_name}</small>
  </h2>
</div>

{* -- Modal dialog pre editaciu titulneho obrazku -- *}
<div class="modal fade" id="myModalTitleImageChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" n:if="$admin_links['edit']">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{$title_form} k položke: {$clanok->view_name}</h4>
      </div>
      <div class="modal-body">
        {control editTitleImageForm}
      </div>
    </div>
  </div>
</div>
      
{* -- Modal dialog pre editaciu nadpisu -- *}
<div class="modal fade" id="myModalTitleH2Change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" n:if="$admin_links['edit']">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Zmen nadpisu:</h4>
      </div>
      <div class="modal-body">
        {*control zmenNadpisForm*}
      </div>
    </div>
  </div>
</div>