{* status 404 *}

{block content}

<h2 n:block="title">Nenájdený užívateľ</h2>

<div class="alert alert-danger">
	<p>Ľutujeme, ale Vami požadovaný užívateľ sa nenašiel.</p>
	<p>Alebo neexzistuje, alebo nemáte dostatočné oprávnenie na prezeranie.</p>
</div>
<div>
  <p><a n:href="User:" title="Späť"><i class="fas fa-undo"></i> Naspäť na výpis členov</a></p>
</div>