{extends $originalTemplate}
{block table-class}table table-hover table-striped table-bordered table-grid{/block}
{block icon-sort}<i class="fas fa-sort fa-2x"></i>{/block}
{block icon-sort-up}<i class="far fa-arrow-alt-circle-up fa-2x"></i>{/block}
{block icon-sort-down}<i class="far fa-arrow-alt-circle-down fa-2x"></i>{/block}
{block icon-caret-down}<i class="fas fa-caret-down fa-2x"></i>{/block}
{block icon-chevron}<i class="fas fa-chevron-down fa-2x"></i>{/block}
{block icon-handle-short}<i class="fas fa-bath fa-2x"></i>{/block}
