{* status 404 *}

{block content}

<h2 n:block="title">Nenájdený jazyk</h2>

<div class="alert alert-danger">
	<p>Ľutujeme, ale Vami požadovaný jazyk sa nenašliel.</p>
	<p>Alebo neexzistuje, alebo nemáte dostatočné oprávnenie na prezeranie.</p>
</div>
<div>
  <p><a n:href="Lang:" title="Späť"><i class="fas fa-undo"></i> Naspäť na výpis jazykov</a></p>
</div>