{define #help}
<div class="alert alert-info form-info-box">
  <div class="row">
    <div class="col-2 text-center ">
      <i class="far fa-question-circle fa-2x align-middle"></i>
    </div>
    <div class="col-10">
      {$text|noescape}
    </div>
  </div>
</div>
{/define}

<div class="page-header edit-link-bar">
  {var $al = $admin_links['alink']}
  <div class="btn-group btn-group-sm" role="group" aria-label="...">
    <a n:if="$al['druh_opravnenia']" 
       href="{if $al['druh_opravnenia'] == 1}{plink $al['link']['main'] id=>$clanok->id_hlavne_menu}{else}{plink $al['link']['main'] id=>$clanok->id_hlavne_menu, uroven=>$al['link']['uroven']}{/if}" 
       title="Pridanie podčlánku" 
       class="btn btn-outline-success">
      <i class="far fa-file"></i> {$admin_links['alink']['text']}
    </a>
    <a n:if="$admin_links['elink']" 
       href="{plink $clanok->hlavne_menu->druh->presenter.':edit' $clanok->id_hlavne_menu}" 
       title="Zmeň nastavenie článku" 
       class="btn btn-outline-success">
      <i class="fas fa-pencil-alt"></i> Zmeň nastavenie
    </a>
    <a n:if="$admin_links['elink'] && isset($clanok->id_clanok_lang)" 
       href="{plink Clanky:edit2 $clanok->id_hlavne_menu}" 
       title="Zmeň text článku" 
       class="btn btn-outline-success">
      <i class="fas fa-file-alt"></i> Zmeň text
    </a>
    <a n:if="$admin_links['dlink']" 
       href="{plink confirmForm:confirmDelete! id => $clanok->id_hlavne_menu, druh=>'', nazov=>$clanok->view_name, zdroj_na_zmazanie=>'článok'}" 
       title="Vymazanie článku" 
       class="btn btn-outline-danger" href="#" role="button">
      <i class="far fa-trash-alt"></i>
    </a>
  </div>

  <div n:snippet="zmenVlastnika" class="btn-group btn-group-sm edit-link-bar" role="group" aria-label="zmen-vlastnika-link">
    <div class="btn btn-outline-info disabled" role="button" title="Posledná zmena: {$clanok->hlavne_menu->modified|date:'j.n.Y'}">
      <i class="far fa-calendar-check"></i> {$clanok->hlavne_menu->modified|date:'j.n.Y'}
    </div>
    <div class="btn btn-outline-info disabled" title="Zadal: {$clanok->hlavne_menu->user_main->meno} {$clanok->hlavne_menu->user_main->priezvisko}" type="button">
      <i class="fas fa-user"></i> {$clanok->hlavne_menu->user_main->meno} {$clanok->hlavne_menu->user_main->priezvisko}
    </div>
    <button n:if="$admin_links['vlastnik']" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModalUserChange" title="Zmeň vlastníka položky"><i class="fas fa-pencil-alt"></i></button>
  </div>
  
  <div n:snippet="porPodclanky" n:if="$por_podclanky !== FALSE && $por_podclanky->count() && $al['druh_opravnenia']" 
       class="btn-group btn-group-sm edit-link-bar" role="group" aria-label="poradie-podclanky-link">
    <div class="btn btn-outline-info disabled" title="Poradie podčlánkov podľa dátumu platnosti od {$c = $clanok->hlavne_menu->poradie_podclankov ? 'najneskoršieho' : 'najskoršieho'}.">
      Poradie podčlánkov <i class="fas fa-sort-numeric-{$c = $clanok->hlavne_menu->poradie_podclankov ? 'up' : 'down'}"></i>
    </div>
    <a n:if="$admin_links['vlastnik']" n:href="podclankyZoradenie!" 
       title="Zmeň zoradenie podclankov podľa dátumu platnosti od {$clanok->hlavne_menu->poradie_podclankov ? 'najskoršieho' : 'najneskoršieho'}." 
       class="btn btn-outline-info" role="button">
      Nastav na <i class="fas fa-sort-numeric-{$c = $clanok->hlavne_menu->poradie_podclankov ? 'down' : 'up'}"></i>
    </a>
  </div>
  <div n:snippet="uroven" class="btn-group btn-group-sm edit-link-bar" role="group" aria-label="uroven-link">
    <div n:if="$admin_links['vlastnik']" class="btn btn-outline-warning disabled" title="Prístupný od úrovne: {$clanok->hlavne_menu->id_user_roles} - {$clanok->hlavne_menu->user_roles->name}">
      <i class="fas fa-users"></i>
      <strong class="uroven-registracie-{$clanok->hlavne_menu->id_user_roles}">{$clanok->hlavne_menu->user_roles->name}</strong>
    </div>
    <button n:if="$admin_links['vlastnik']" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModalRegistraciaChange" title="Zmeň úroveň prístupu"><i class="fas fa-pencil-alt"></i></button>
  </div>
  <div n:snippet="sablona" class="btn-group btn-group-sm edit-link-bar" role="group" aria-label="sablona-link">
    <div class="btn btn-outline-success disabled" role="button" title="Šablóna pre Front modul: {$clanok->hlavne_menu->hlavne_menu_template->description}">
      Šablóna pre Front modul: <strong>{$clanok->hlavne_menu->hlavne_menu_template->description}</strong>
    </div>
    <button n:if="$admin_links['vlastnik']" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModalTemplateChange" title="Zmeň šablónu">
      <i class="fas fa-pencil-alt"></i>
    </button>
  </div>
  <div n:snippet="platnost" class="btn-group btn-group-sm edit-link-bar" role="group" aria-label="platnost-link">
    {var $cl='primary'}
    {if $clanok->hlavne_menu->datum_platnosti}
      {if $clanok->hlavne_menu->datum_platnosti < strftime("%Y-%m-%d", time())}
          {var $datum = 'Článok už nie je platný! Platil do:'.strftime('%d.%m.%Y', strtotime($clanok->hlavne_menu->datum_platnosti))}{var $cl='warning'}
      {else}{var $datum = 'Článok platí do:'.strftime('%d.%m.%Y', strtotime($clanok->hlavne_menu->datum_platnosti))}{/if}
    {else}
      {var $datum = 'Dátum platnosti sa nesleduje.'}
    {/if}
    <div class="btn btn-outline-{$cl} disabled" title="{$datum}">
      <i class="fas fa-calendar-alt"></i>
      {if $clanok->hlavne_menu->datum_platnosti}
        {if $clanok->hlavne_menu->datum_platnosti < strftime("%Y-%m-%d", time())}Platil {else}Platí {/if}
        do:<strong> {$clanok->hlavne_menu->datum_platnosti|date:'%d.%m.%Y'}</strong>
      {/if}
    </div>
    <button n:if="$admin_links['vlastnik']" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModalDatumPlatnostiChange" title="Zmeň platnosť položky">
      <i class="fas fa-pencil-alt"></i>
    </button>
  </div>
  <div n:snippet="dlzka_novinky" class="btn-group btn-group-sm edit-link-bar" role="group" aria-label="dlzka_novinky-link">
    <div n:if="$admin_links['vlastnik']" class="btn btn-outline-warning disabled" title="Sledovanie dĺžky novinky: {$clanok->hlavne_menu->dlzka_novinky->nazov}">
      <i class="far fa-newspaper"></i>
      Ako novinka: {$clanok->hlavne_menu->dlzka_novinky->nazov}
    </div>
    <button n:if="$admin_links['vlastnik']" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModalDlzkaNovinkyChange" title="Zmeň sledovanie dĺžky novinky"><i class="fas fa-pencil-alt"></i></button>
  </div>
  <div n:snippet="opravnenie_nevlastnikov" class="btn-group btn-group-sm edit-link-bar" role="group" aria-label="opravnenie_nevlastnikov-link">
    <div n:if="$admin_links['vlastnik']" class="btn btn-outline-warning disabled" title="Oprávnenia nevlastníkov: {$clanok->hlavne_menu->hlavne_menu_opravnenie->nazov}">
      <i class="far fa-id-card"></i>
      Opravnenie nevlastníkov: {$clanok->hlavne_menu->hlavne_menu_opravnenie->nazov}
    </div>
    <button n:if="$admin_links['vlastnik']" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModalOpravnenieNevlastnikovChange" title="Zmeň oprávnenia nevlastníkov"><i class="fas fa-pencil-alt"></i></button>
  </div>
  <div n:if="$komentare_enabled" n:snippet="komentare" class="btn-group btn-group-sm edit-link-bar" role="group" aria-label="komentare-enabled-link">
    {var $kom_enab = $clanok->hlavne_menu->komentar}
    {var $kom_text = $kom_enab ? 'Zakázať' : 'Povoliť'}
    <div class="btn btn-outline-{if $kom_enab}warning{else}info{/if} disabled" title="Komentáre k článku sú {if $kom_enab}dovolené{else}zakázané{/if}."><i class="far fa-comment-alt"></i>{*Komentáre k článku sú {if $kom_enab}dovolené{else}zakázané{/if}.*}</div>
    <a n:if="$vlastnik" n:href="komentare! volba => (1-$kom_enab)" title="{$kom_text}" class="btn btn-outline-info">
      <i class="fas fa-{if $kom_enab}times{else}check{/if}"></i>
    </a>
  </div>
  <div n:snippet="priamyClanok" n:if="isset($nadradeny) && $user->isAllowed('Admin:Clanky', 'priamy')" class="btn-group btn-group-sm edit-link-bar" role="group" aria-label="priamy-clanok-link">
    {var $pc = isset($nadradeny->redirect_id) && $clanok->id_hlavne_menu == $nadradeny->redirect_id}
    <div class="btn btn-outline-{if $pc}warning{else}primary{/if} disabled" title="Položka {if $pc}je{else}nie je{/if} priamy článok!">
      <i class="fas fa-arrow-circle-down"></i> {if $pc}Priamy článok!{else}<small>Nie je priamy článok</small>{/if}
    </div>
    <a n:if="$admin_links['vlastnik']" n:href="priamyClanok!" title="{if $pc}Zruš{else}Nastav{/if} ako priamy článok" 
       class="btn btn-outline-info" role="button">
      <i class="fas fa-{if $pc}times{else}check{/if}"></i>
    </a>
  </div>
</div>
      
{* --------   MODALNE OKNA -------- *}
{* -- Modal dialog pre zmenu vlastníka -- *}
<div class="modal fade" id="myModalUserChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Zmena vlastníka článku</h4>
      </div>
      <div class="modal-body">
        {capture $text}
        <p>Tu môžete zmeniť vlastníctvo tohoto článku na iného užívateľa. Po zmene už ale nebudete mať práva vlastníka článku 
          (napr. editácia článku, nastavení, ...)! </p>
        <p><strong>&nbsp;&nbsp;Preto si tento krok dobre rozmyslite!</strong></p>
        {/capture} 
        {include #help text => $text}
        {control zmenVlastnikaForm}
      </div>
    </div>
  </div>
</div>
{* -- Modal dialog pre zmenu urovne -- *}
<div class="modal fade" id="myModalRegistraciaChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Zmena úrovne prístupu k článku</h4>
      </div>
      <div class="modal-body">
        {capture $text}
        <p>Tu môžete nastaviť minimálnu úroveň registrácie užívateľa, pre ktorého bude ešte článok viditeľný.</p>
        <p>Napríklad ak má článok nastavenú úroveň <i>2. - Pasívny užívateľ</i> tak si článok môže prečítať len užívateľ 
          s oprávnením 2. - 5.; úrovne 0., 1. článok nevidia.</p>
        {/capture} 
        {include #help text => $text}  
        {control zmenUrovenRegistracieForm}
      </div>
    </div>
  </div>
</div>
{* -- Modal dialog pre zmenu datumu platnosti -- *}
<div class="modal fade" id="myModalDatumPlatnostiChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Zmena platnosti článku</h4>
      </div>
      <div class="modal-body">
        {capture $text}
        <p>Tu môžete nastaviť dátum do ktorého je článok viditelný. Po tomto dátume sa už na webe nezobrazí. 
         Bude viditeľný len v administrácii!</p>
        {/capture} 
        {include #help text => $text}
        {control zmenDatumPlatnostiForm}
      </div>
    </div>
  </div>
</div>
{* -- Modal dialog pre zmenu dlzky sledovania ako novinky -- *}
<div class="modal fade" id="myModalDlzkaNovinkyChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Zmena sledovania dĺžky novinky</h4>
      </div>
      <div class="modal-body">
        {control zmenDlzkuNovinkyForm}
      </div>
    </div>
  </div>
</div>
{* -- Modal dialog pre zmenu opravnenia nevlastnikov polozky -- *}
<div class="modal fade" id="myModalOpravnenieNevlastnikovChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Zmena oprávnenia nevlastníkov</h4>
      </div>
      <div class="modal-body">
        {control zmenOpravnenieNevlastnikovForm}
      </div>
    </div>
  </div>
</div>
{* -- Modal dialog pre zmenu sablony -- *}
<div class="modal fade" id="myModalTemplateChange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Zmena šablóny článku</h4>
      </div>
      <div class="modal-body">
        {control zmenSablonuForm}
      </div>
    </div>
  </div>
</div>