/* 
 * @author Ing. Peter VOJTECH ml. <petak23@gmail.com>
 * Last update: 31.07.2020 
 */

.last-login {
  max-height: 20rem;
  overflow: auto;
}
.last-login .erase {
  position: absolute;
  top: .5rem;
  right: .5rem;
}
.last-login .card-body {
  padding: .5rem;
}
.last-login table {
  font-size: 70%;
  margin: 0;
}
.last-login table td {
  padding: .1rem .2rem;
}
.last-login .zvyrazni {
  font-weight: bold;
}

.card-a-white {
  color: #eee;
}
.card-fa {
  margin-top: 2rem;
}

.lightbox-img .modal-body img {
  width: 100%;
}
.lightbox-img .border-c {
  max-height: 80vh;
}
/* --- Odstavec pre doplnujuce info nad formularom */
.form-info-box {
  font-size: 90%;
  text-align: justify;
}
.form-info-box p {
  margin-bottom: .25rem;
}
.form-info-box p:last-child {
  margin-bottom: 0;
}
.form-info-box p:before{
  content: " ";
  display: inline-block;
  width: 1rem;
}
/* --- Cast description vo formulary --- */
.form-text {
  font-size: 90%;
}

@media (min-width: 576px){ 
  .col-last {
    display: initial;
  }
  .last-login {
    max-height: 20rem;
  }
}
@media (min-width: 768px){
  .last-login {
    max-height: 19rem;
  }
}
@media (min-width: 992px) {
  .last-login {
    max-height: 23rem;
  }
}
@media (min-width: 1200px) {
  .last-login {
    max-height: 22rem;
  }
}

/* ------ OLD CSS ------ */ 
/* @todo - zistiť ich potrebu */
h6 {
  font-size: 100%;
  float: left;
}
.noavatar {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}
.clen_foto {
  border: 10px solid white;
  width: 75px;
  height: 100px;
  float: none;
}
.table {
  margin-top: .5rem;
}
.table td {
  padding: .5rem;
}
.table .editacne {
  width: 5rem;
}

.notActivated {
  background-color: #ff4500;
  background-color: rgba(255, 250, 120, 0.8);
}
.user-banned {
  background-color: #ff0000;
  background-color: rgba(255, 0, 0, 0.8);
}
.user-banned span {
  color: #FBEB03;
}

.pocet_pr {
  width: 200px;
}
.pocet_pr div {
  height: 26px;
  padding: 3px 0 0 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.pocet_pr div span {
  display: inline-block;
  height: 20px;
  min-width: 10px;
  background-color: rgba(50, 50, 50, 0.6);
  color: #dbeca7;
  border: 1px outset rgba(60, 60, 60, 0.4);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 1px 2px 0 5px;
}
.pocet_pr div.vyb1 { background-color: #009918; }
.pocet_pr div.vyb2 { background-color: #4169e1; }
.pocet_pr div.vyb3 { background-color: #ffd700; }
.pocet_pr div.vyb4 { background-color: #b22222; }
.pocet_pr div.vyb5 { background-color: #000000; }

.vklad {
  background-color: rgba(0, 255, 0, 0.6);
}
.vyber {
  background-color: rgba(255, 0, 0, 0.6);
  color: #ccc;
}
.slider-small-img {
	width: 50%;
	/*float: left;*/
}
.slider-file-name {
  margin-top: -.5em;
}

.uroven-registracie {
  padding: 2px 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.uroven-registracie-1 { background-color: #29A0B5; }
.uroven-registracie-2 { background-color: #41B71C; }
.uroven-registracie-3 { background-color: #FBEB03; color: #333; }
.uroven-registracie-4 { background-color: #FB7604; color: #fff;}
.uroven-registracie-5 { background-color: #CC0F08; color: #fff;}

.main-admin-menu {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.main-admin-menu li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0.5em;
  vertical-align: bottom;
  text-align: center;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 25%;
  position: relative;
}
.neplati {
  position: absolute;
  background-color: rgba(255,255,255,.65);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
.neplati h4 {
  margin: 7ex 2ex 1ex 2ex;
  padding: 1ex;
  background-color: rgba(255,255,255,.7);
}
.main-admin-menu li div.menu-link-in a {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  border: .2em solid #aaa;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  opacity: .8;
  min-height: 15rem;
}
.main-admin-menu li a .avatar-img {
  background-color: rgba(128, 128, 128, 0.5);
  border: 0;
}
.main-admin-menu li a .avatar-img img {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.main-admin-menu li a > div {
  background-color: #ccc;
  font-weight: bold;
  border-top: 1px solid #aaa;
}
.main-admin-menu li a:hover {
  opacity: 1;
}

.edit-link-bar {
  table-layout: auto;
  margin: 0;
}
.edit-link-bar a i{
  margin-right: .5ex;
}

.title-image {
  margin-top: 15px;
}
.title-image>div {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 9em;
  background-color: #eee;
  border: .15em solid #ccc;
  text-align: center;
}
.title-image>div>i{
  padding: .75rem 0;
}
.title-image h2 {
  display: inline-block;
  margin: 0 0 0 1ex;
}
.title-image img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.title-image .add-title-image {
  width: 100%;
  white-space: normal;
}
.title-image .edit-title-image,
.title-image .del-title-image {
  display: inline-block;
  position: absolute;
  top: .1em;
  background-color: rgba(255,255,255,.75);
  opacity: .5;
  padding: 0;
}
.title-image .edit-title-image:hover,
.title-image .del-title-image:hover {
  opacity: 1;
}
.title-image .edit-title-image {
  left: .1em;
}
.title-image .del-title-image {
  right: .1em;
  color: #CC0F08;
}

.clanok-casti {
  display: inline-block;
  width: 100%;
  margin: 0 0 1ex 0;
}
.panel-item {
  display: inline-block;
  padding: .2ex .75ex;
}
#clanok .avatar-img,
#clanok .avatar-img img {
  display: inline-block;
  max-width: 100%;
  height: 14em;
}
#clanok .odkaz-na-clanky {
  width: 28%;
  float: left;
  border: 1px solid #ccc;
  margin: .5ex 1%;
  position: relative;
}
#clanok .odkaz-na-clanky .del-link {
  position: absolute;
  top: 0;
  right: 0;
}
#clanok ul.level-1 {
  list-style-type: none;
  display: inline-block;
  width: 50%;
  margin: 0;
}
#clanok ul.level-1 li {
  background-color: #ddd;
  border: 1px ridge #aaa;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  display: block;
  margin: 0.2em 1em;
  padding: 0.2em 0.5em 0.2em 1em;
  position: relative;
}
#clanok ul.level-1 li:hover {
  background-color: #bbb;
}
#clanok ul.level-1 li span.akcie {
  display: inline-block;
  position: absolute;
  top: .2em;
  right: 1em;
}
#clanok ul.level-1 li a small {
  font-size: 70%;
  margin-left: .5em;
}
#clanok .priloha {
  border: .1em solid #aaa;
  padding: .2em .5em;
  display: inline-block;
  max-width: 50%;
}
#clanok .priloha a {
  display: inline-block;
  background-color: #eee;
}
#clanok .priloha a:hover {
  background-color: #bbb;
}
#clanok h3 {
  padding-left: 1em;
}
#clanok h3 span {
  font-weight: normal;
  font-size: 90%;
  display: inline-block;
}
#clanok h3 span:before {
  content: " | ";
  color: #2694e8;
}
#clanok h3 strong {
  display: inline-block;
  width: 4em;
}
#clanok h3 span.ver-datum {
  width: 6.5em;
}
#clanok .admin-block {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #999;
  padding: .15em .5em;
  -webkit-border-bottom-left-radius: .4em;
  -webkit-border-bottom-right-radius: .4em;
  -moz-border-radius-bottomleft: .4em;
  -moz-border-radius-bottomright: .4em;
  border-bottom-left-radius: .4em;
  border-bottom-right-radius: .4em;
}
#clanok #oznamy .ozz {
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.25em;
  border: 1px solid #ccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  position: relative;
}
#clanok #oznamy .ozz .oznam_telo h3 {
  margin: 0 0 .25em 0;
  padding: 0 0 .25em 0;
  border-bottom: 1px solid #ccc;
}
.potvrdenieUcasti, .komentare {
  background-color: #f0f0f0;
  margin-top: .5em;
  padding: .25em .5em;
}
.sirka8 { width: 8%;}
.sirka30 { width: 30%;}
.sirka40 { width: 40%;}
.priloha-thumb{ width: 100%;}
.r2 {
  background-color: rgba(128, 128, 255, 0.2);
}

.komponenty ul {
  list-style-type: none;
  padding: 0;
}
.komponenty li {
  padding: 1ex;
  float: left;
}
.komponenty li .parametre {
  display: inline-block;
  width: 75%;
}
.komponenty li .parametre label {
  display: inline-block;
  width: 100%;
  font-weight: bold;
}
.komponenty li .parametre select, .komponenty li .parametre input {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
div.alt {
  display: none;
}

.ui-tabs {
  clear: both;
}
.ui-tabs .ui-tabs-panel {
  padding: .5em .2em;
}
.oznam-ikonka {
  max-height: 18px;
}
.has-error .control-field {
  border-left: 2px solid #a94442;
}
.form-horizontal .control-label-clanky {
  text-align: left;
}
.form-horizontal .control-field textarea, .form-horizontal .control-field input[type=text] {
  width: 100%;
}
.accordion-oznam {
  padding: 0;
}
.accordion-oznam .card-header {
  padding: .2rem;
}
.accordion-oznam .card-header button {
  width: 100%;
  text-align: left;
}
.accordion-oznam .card-body {
  padding: 0;
}
.accordion-oznam .oznam-body {
  padding: .25rem 1rem;
}
